<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Kimi's Blog</title>
        <%= stylesheet_link_tag :all%> 
        <%= javascript_include_tag :ckeditor,"jquery","validate"%>
        <%= csrf_meta_tag %>
    </head>
    <body>
        <div id="mainbg">
                <div id="messages">
                  <%= render(:partial => "home/header")%>
                </div>

                <div id="main">
                    <div id="content">
                      <%= render :partial => "home/rmenu",:locals => {:posts => @posts}%>

                        <%= yield%> 
                    </div>
                    
                    <div id="footer">
                        
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

